/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
   font-family: Indie Flower, cursive;
   color: #405421;
 }

h1 {
  font-family: Indie Flower, cursive;
}

.body {
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 950px, 950px;
  background-attachment: fixed;
  color: white;
  background-position: center;
  margin-top: 100px;
}

html {
  text-align: center;
}

.giftee-form {
  width: 300px;
  margin: auto;
  color: white;
}

.table {
  width: 400px;
  margin-left:auto;
  margin-right:auto;
}

.table-headers {
  font-weight: bold;
}

td {
  color: white;
}

.table-hover tbody tr:hover td {
    background: #B9E7DA;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #95D1C5;
  display: block;
  margin: auto;

}

.btn:hover {
  background-color: #B9E7DA;
}

.button_to {
  display: inline-block;
}

.giftee-list {
  padding-bottom: 10px;
}

a {
  color: green;
}

.control-label {
  color: white;
}
