/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "font-awesome";


 * {
   font-family: 'Lobster Two', cursive;
 }

h1 {
  font-family: 'Lobster Two', cursive;
}

.people {
  color: white;
}

body {
  color: #EBEBEB;
  background: none;
}

html {
  text-align: center;
  background: url(red-scroll-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


nav {
  color: white;
}

.giftee-list {
  color: white;
}

.giftee-form, .wishlist-form {
  width: 300px;
  margin: auto;
  font-size: 25px;
  margin-top: -40px;
  color: white;
  padding: 50px;
}

.form-group {
  vertical-align: middle;
}

.table {
  width: 400px;
  margin-left:auto;
  margin-right:auto;
}

.table-headers {
  font-weight: bold;
}

td {
  color: white;
}

.table-hover tbody tr:hover td {
    background: #a6a6a6;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #a6a6a6;
  display: block;
  margin: auto;
  color: black;
  width: 150px;
  font-size: 20px;
}

.btn:hover {
  background-color: #333333;
}

.button_to {
  display: inline-block;
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 2.5px;
}

.giftee-list {
  padding-bottom: 10px;
}

a:link {
    text-decoration: none;

}

a {
  color: white;
}

a.btn {
  margin-bottom: 10px;
}

.control-label {
  color: white;
  font-size: 16px;
}

th {
  text-align: center;
  font-size: 18px;
}

tbody {
  font-size: 25px;
}

#wishlist_bought {
  margin-left: 75px;
  color: black;
}

.checkbox {
  color: white;
  font-size: 18px;
}

.home {
  color: white;
}

span {
  font-size: 25px;
}


header {
  font-size: 100px;
  text-align: left;
  padding-left: 50px;
}
