<h1><%= @title %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Bought?</th>
    </tr>
  </thead>
  <tbody>
    <% @wishlist.each do |wishlist| %>
      <tr>
        <td><%= wishlist.item %></td>
        <td><%= number_to_currency(wishlist.price/100.0) %></td>
        <td><%= wishlist.bought %></td>
      </tr>
    <% end %>
  </tbody>
</table>
