<h1><%= @title %></h1>

<table>
  <tr>
    <td>
      Name
    </td>
    <td>
      <%= @account.name %>
    </td>
  </tr>
  <tr>
    <td>
      Login
    </td>
    <td>
      <%= @account.user_login %>
    </td>
  </tr>
</table>
